.auth-form {
    width: 40rem;
    max-width: 80%;
    margin: 5rem auto;
}

.form label, .form input{
    width: 100%;
    display: block;
}

.form label{
    margin-bottom: .5rem;
}
.form {
    margin: 1rem;
}

.form-action button {
    background:#2e3440;
    color: whitesmoke;
    font: inherit;
    border: 1px solid;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
}

.form-action button:hover,
.form-action button:active{
    background-color: #434c5e;
}